body{
    text-align: center;
}
h1 {
    color: black;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-style: italic;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
    color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  right: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container .bt {
    color: white;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}
h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}
.container {
  position: relative;
  text-align: center;
  color: white;
 font-size: 40px;
    bottom: 30%;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 105px;
  top: 30%;
    font-style: italic;
}
h3{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}
h5 {
     text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
}